<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TriviaVS.Properties.Settings.triviaConnectionString" connectionString="Data Source=DESKTOP-VG0DTGA\KULIAH;Initial Catalog=trivia;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="triviaEntities" connectionString="metadata=res://*/Model.UserModel.csdl|res://*/Model.UserModel.ssdl|res://*/Model.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VG0DTGA\KULIAH;initial catalog=trivia;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="triviaEntities1" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VG0DTGA\KULIAH;initial catalog=trivia;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>